@font-face {
	font-family: "Albert Sans";
	font-style: italic;
	font-weight: 400;
	src: url("/fonts/AlbertSansItalic.eot");
	src: local(""),
		url("/fonts/AlbertSansItalic.eot?#iefix") format("embedded-opentype"),
		url("/fonts/AlbertSansItalic.woff2") format("woff2"),
		url("/fonts/AlbertSansItalic.woff") format("woff"),
		url("/fonts/AlbertSansItalic.ttf") format("truetype"),
		url("/fonts/AlbertSansItalic.svg#AlbertSans") format("svg");
}
