@font-face {
	font-family: "Albert Sans";
	font-style: normal;
	font-weight: 100;
	src: url("/Font/AlbertSans100.eot");
	src:
		local(""),
		url("/Font/AlbertSans100.eot?#iefix") format("embedded-opentype"),
		url("/Font/AlbertSans100.woff2") format("woff2"),
		url("/Font/AlbertSans100.woff") format("woff"),
		url("/Font/AlbertSans100.ttf") format("truetype"),
		url("/Font/AlbertSans100.svg#AlbertSans") format("svg");
}
