@font-face {
	font-family: "Albert Sans";
	font-style: normal;
	font-weight: 500;
	src: url("/Font/AlbertSans500.eot");
	src:
		local(""),
		url("/Font/AlbertSans500.eot?#iefix") format("embedded-opentype"),
		url("/Font/AlbertSans500.woff2") format("woff2"),
		url("/Font/AlbertSans500.woff") format("woff"),
		url("/Font/AlbertSans500.ttf") format("truetype"),
		url("/Font/AlbertSans500.svg#AlbertSans") format("svg");
}
