@font-face {
	font-family: "Albert Sans";
	font-style: normal;
	font-weight: 300;
	src: url("/Font/AlbertSans300.eot");
	src:
		local(""),
		url("/Font/AlbertSans300.eot?#iefix") format("embedded-opentype"),
		url("/Font/AlbertSans300.woff2") format("woff2"),
		url("/Font/AlbertSans300.woff") format("woff"),
		url("/Font/AlbertSans300.ttf") format("truetype"),
		url("/Font/AlbertSans300.svg#AlbertSans") format("svg");
}
