@font-face {
	font-family: "Albert Sans";
	font-style: normal;
	font-weight: 200;
	src: url("/Font/AlbertSans200.eot");
	src:
		local(""),
		url("/Font/AlbertSans200.eot?#iefix") format("embedded-opentype"),
		url("/Font/AlbertSans200.woff2") format("woff2"),
		url("/Font/AlbertSans200.woff") format("woff"),
		url("/Font/AlbertSans200.ttf") format("truetype"),
		url("/Font/AlbertSans200.svg#AlbertSans") format("svg");
}
