@font-face {
	font-family: "Albert Sans";
	font-style: italic;
	font-weight: 700;
	src: url("/Font/AlbertSans700Italic.eot");
	src:
		local(""),
		url("/Font/AlbertSans700Italic.eot?#iefix") format("embedded-opentype"),
		url("/Font/AlbertSans700Italic.woff2") format("woff2"),
		url("/Font/AlbertSans700Italic.woff") format("woff"),
		url("/Font/AlbertSans700Italic.ttf") format("truetype"),
		url("/Font/AlbertSans700Italic.svg#AlbertSans") format("svg");
}
