@font-face {
	font-family: "Albert Sans";
	font-style: normal;
	font-weight: 600;
	src: url("/Font/AlbertSans600.eot");
	src:
		local(""),
		url("/Font/AlbertSans600.eot?#iefix") format("embedded-opentype"),
		url("/Font/AlbertSans600.woff2") format("woff2"),
		url("/Font/AlbertSans600.woff") format("woff"),
		url("/Font/AlbertSans600.ttf") format("truetype"),
		url("/Font/AlbertSans600.svg#AlbertSans") format("svg");
}
