@font-face {
	font-family: "Albert Sans";
	font-style: normal;
	font-weight: 900;
	src: url("/Font/AlbertSans900.eot");
	src:
		local(""),
		url("/Font/AlbertSans900.eot?#iefix") format("embedded-opentype"),
		url("/Font/AlbertSans900.woff2") format("woff2"),
		url("/Font/AlbertSans900.woff") format("woff"),
		url("/Font/AlbertSans900.ttf") format("truetype"),
		url("/Font/AlbertSans900.svg#AlbertSans") format("svg");
}
