@font-face {
	font-family: "Albert Sans";
	font-style: italic;
	font-weight: 100;
	src: url("/fonts/AlbertSans100Italic.eot");
	src: local(""),
		url("/fonts/AlbertSans100Italic.eot?#iefix")
			format("embedded-opentype"),
		url("/fonts/AlbertSans100Italic.woff2") format("woff2"),
		url("/fonts/AlbertSans100Italic.woff") format("woff"),
		url("/fonts/AlbertSans100Italic.ttf") format("truetype"),
		url("/fonts/AlbertSans100Italic.svg#AlbertSans")
			format("svg");
}
