@font-face {
	font-family: "Albert Sans";
	font-style: normal;
	font-weight: 100;
	src: url("/fonts/AlbertSans100.eot");
	src: local(""),
		url("/fonts/AlbertSans100.eot?#iefix")
			format("embedded-opentype"),
		url("/fonts/AlbertSans100.woff2") format("woff2"),
		url("/fonts/AlbertSans100.woff") format("woff"),
		url("/fonts/AlbertSans100.ttf") format("truetype"),
		url("/fonts/AlbertSans100.svg#AlbertSans") format("svg");
}
