@font-face {
	font-family: "Albert Sans";
	font-style: normal;
	font-weight: 900;
	src: url("/fonts/AlbertSans900.eot");
	src: local(""),
		url("/fonts/AlbertSans900.eot?#iefix")
			format("embedded-opentype"),
		url("/fonts/AlbertSans900.woff2") format("woff2"),
		url("/fonts/AlbertSans900.woff") format("woff"),
		url("/fonts/AlbertSans900.ttf") format("truetype"),
		url("/fonts/AlbertSans900.svg#AlbertSans") format("svg");
}
