@font-face {
	font-family: "Albert Sans";
	font-style: normal;
	font-weight: 900;
	src: url("/fonts/albert-sans-v1-latin-900.eot");
	src: local(""),
		url("/fonts/albert-sans-v1-latin-900.eot?#iefix")
			format("embedded-opentype"),
		url("/fonts/albert-sans-v1-latin-900.woff2") format("woff2"),
		url("/fonts/albert-sans-v1-latin-900.woff") format("woff"),
		url("/fonts/albert-sans-v1-latin-900.ttf") format("truetype"),
		url("/fonts/albert-sans-v1-latin-900.svg#AlbertSans") format("svg");
}
