@font-face {
	font-family: "Albert Sans";
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/albert-sans-v1-latin-600.eot");
	src: local(""),
		url("/fonts/albert-sans-v1-latin-600.eot?#iefix")
			format("embedded-opentype"),
		url("/fonts/albert-sans-v1-latin-600.woff2") format("woff2"),
		url("/fonts/albert-sans-v1-latin-600.woff") format("woff"),
		url("/fonts/albert-sans-v1-latin-600.ttf") format("truetype"),
		url("/fonts/albert-sans-v1-latin-600.svg#AlbertSans") format("svg");
}
