@font-face {
	font-family: "Albert Sans";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/albert-sans-v1-latin-regular.eot");
	src: local(""),
		url("/fonts/albert-sans-v1-latin-regular.eot?#iefix")
			format("embedded-opentype"),
		url("/fonts/albert-sans-v1-latin-regular.woff2") format("woff2"),
		url("/fonts/albert-sans-v1-latin-regular.woff") format("woff"),
		url("/fonts/albert-sans-v1-latin-regular.ttf") format("truetype"),
		url("/fonts/albert-sans-v1-latin-regular.svg#AlbertSans") format("svg");
}
