@font-face {
	font-family: "Albert Sans";
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/AlbertSans300.eot");
	src: local(""),
		url("/fonts/AlbertSans300.eot?#iefix")
			format("embedded-opentype"),
		url("/fonts/AlbertSans300.woff2") format("woff2"),
		url("/fonts/AlbertSans300.woff") format("woff"),
		url("/fonts/AlbertSans300.ttf") format("truetype"),
		url("/fonts/AlbertSans300.svg#AlbertSans") format("svg");
}
