@font-face {
	font-family: "Albert Sans";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/AlbertSansRegular.eot");
	src:
		local(""),
		url("/fonts/AlbertSansRegular.eot?#iefix") format("embedded-opentype"),
		url("/fonts/AlbertSansRegular.woff2") format("woff2"),
		url("/fonts/AlbertSansRegular.woff") format("woff"),
		url("/fonts/AlbertSansRegular.ttf") format("truetype"),
		url("/fonts/AlbertSansRegular.svg#AlbertSans") format("svg");
}
