.form {
	@apply flex-grow
		py-36
		sm:rounded-2xl
		sm:px-20;

	h1 {
		@apply mb-8
			text-3xl
			font-light
			md:text-6xl
			md:font-thin;
	}

	h2 {
		@apply text-lg
			font-light
			md:text-xl;
	}

	.input-group {
		@apply relative
			my-12
			p-5;
	}

	input,
	button {
		@apply ease-apple
			hover:ring-5
			focus:ring-5
			hover:ring-lightrix-800
			hover:outline-lightrix-900
			focus:outline-lightrix-900
			focus:ring-lightrix-800
			outline-lightrix-700
			block
			w-full
			border-none
			font-medium
			outline
			outline-1
			outline-offset-0
			transition-all
			duration-150
			focus:shadow-xl
			focus:outline-1
			focus:outline-offset-0;
	}

	input {
		@apply w-96
			rounded-xl
			bg-transparent
			px-4
			py-3
			placeholder-white
			sm:max-w-xs;
		max-width: 92vw;
	}

	button {
		@apply hover:ring-5
			bg-lightrix-600
			hover:shadow-lightrix-500/50
			hover:ring-lightrix-800
			active:bg-lightrix-500
			mt-6
	

			
			select-none
			rounded-xl
			px-6
			py-3
			text-white
			hover:shadow-xl
			sm:ml-4
			sm:mt-0
			sm:h-auto
			sm:w-auto;
	}

	.input-group-item {
		@apply relative;

		input[type="email"] {
			padding-left: 3.3rem;
		}

		.at {
			@apply absolute
				top-1/2
				h-7
				w-7
				-translate-y-1/2
				transform
				cursor-pointer
				bg-white
				text-center
				font-medium
				text-white;

			font-size: 26px;
			line-height: 1.3rem;
			margin-left: calc(3.3rem / 4);
			z-index: 10;

			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

			+ * {
				z-index: 9 !important;
			}
		}
	}
}
