.form {
	h1 {
		@apply mb-8
			text-3xl
			font-light
			md:text-6xl
			md:font-thin;
	}

	h2 {
		@apply text-lg
			font-light
			md:text-xl;
	}

	.input-group {
		@apply relative
			my-12
			p-5;
	}

	input,
	button {
		@apply ease-apple
			focus:ring-5
			block
			w-full
			border-none
			font-medium
			outline
			outline-1
			outline-offset-0
			transition-all
			duration-150
			hover:outline-black/50
			focus:shadow-xl
			focus:shadow-white/50
			focus:outline-1
			focus:outline-offset-0
			focus:outline-white
			focus:ring-white;
	}

	input {
		@apply bg-lightrix
			w-96
			rounded-xl
			px-4
			py-3
			placeholder-white
			outline-white
			sm:max-w-xs;
		max-width: 92vw;
	}

	button {
		@apply hover:ring-5
			mt-6
			select-none
			rounded-xl
			bg-white
			py-3
			px-6
			text-black
			outline-white
			hover:shadow-xl
			hover:shadow-white/50
			hover:ring-white
			sm:ml-4
			sm:mt-0
			sm:h-auto
			sm:w-auto;
	}

	.input-group-item {
		@apply relative;
		input[type="email"] {
			padding-left: 3.3rem;
		}

		.at {
			@apply absolute top-1/2 h-7 w-7
			-translate-y-1/2
			transform
			cursor-pointer
			text-center
			font-medium
			text-white;
			font-size: 26px;
			line-height: 1.3rem;
			margin-left: calc(3.3rem / 4);
			z-index: 10;

			background: white;

			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

			+ * {
				z-index: 9 !important;
			}
		}
	}
}
