.form {
	h1 {
		@apply mb-8
			text-3xl
			font-light
			md:text-6xl
			md:font-thin;
	}

	h2 {
		@apply text-lg
			font-light
			md:text-xl;
	}

	.input-group {
		@apply relative
			my-12
			p-5;
	}

	input,
	button {
		@apply ease-apple
			focus:ring-5
			block
			w-full
			border-none
			font-medium outline
			outline-1
			outline-offset-0
			transition-all
			duration-150
			hover:outline-blue-600
			focus:shadow-xl
			focus:shadow-blue-500/50
			focus:outline-1
			focus:outline-offset-0
			focus:outline-blue-600
			focus:ring-blue-500
			dark:outline-black;
	}

	input {
		@apply w-96
			rounded-xl
			bg-white
			px-4
			py-3
			placeholder-gray-500
			outline-gray-400
			dark:bg-black
			dark:placeholder-gray-500
			dark:outline-gray-700
			sm:max-w-xs;
		max-width: 92vw;
	}

	button {
		@apply hover:ring-5
			mt-6
			select-none
			rounded-xl
			bg-black
			py-3
			px-6
			text-white
			outline-white
			hover:shadow-xl
			hover:shadow-blue-500/50
			hover:ring-blue-500
			dark:bg-white
			dark:text-black
			sm:ml-4
			sm:mt-0
			sm:h-auto
			sm:w-auto;
	}

	.input-group-item {
		@apply relative;
		input[type="email"] {
			padding-left: 3.3rem;
		}

		.at {
			@apply absolute top-1/2 h-7 w-7
			-translate-y-1/2
			transform
			cursor-pointer
			text-center
			font-medium
			text-white;
			font-size: 26px;
			line-height: 1.3rem;
			margin-left: calc(3.3rem / 4);
			z-index: 10;
			text-shadow: 1px 0 1px theme("colors.yellow.400"),
				0 0px 4px theme("colors.red.400"),
				0 1px 1px theme("colors.violet.400");

			@media (prefers-color-scheme: dark) {
				& {
					text-shadow: none;

					background: linear-gradient(
						225deg,
						theme("colors.green.400"),
						theme("colors.cyan.400"),
						theme("colors.blue.400")
					);

					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}

			+ * {
				z-index: 9 !important;
			}
		}
	}
}
