---
import Base from "@layouts/Base.astro";

import "@styles/components/article.css";

export const getStaticPaths = async () =>
	[
		"terms-of-service",
		"gdpr",
		"privacy-policy",
		"personal-data-protection-policy",
	].map((slug) => ({
		params: { slug },
	}));

const slug =
	typeof Astro.params["slug"] === "string" ? Astro.params["slug"] : "";

const file = (await Astro.glob("./../content/en/*.md")).filter(
	(page: { file: string | string[] }) =>
		page.file.indexOf(slug) > -1 ||
		(slug == "gdpr" &&
			page.file.indexOf("personal-data-protection-policy") > -1)
);

let content: string,
	title = "";

if (typeof file[0] !== "undefined") {
	content = file[0].compiledContent();
	title = file[0].frontmatter["title"];
} else {
	content = "Not found.";
	title = "404.";
}
---

<Base
	fonts={[
		{ href: "/fonts/AlbertSans500.css?rev=1.0" },
		{ href: "/fonts/AlbertSans600.css?rev=1.0" },
		{ href: "/fonts/AlbertSans700.css?rev=1.0" },
		{ href: "/fonts/AlbertSans800.css?rev=1.0" },
		{ href: "/fonts/AlbertSans900.css?rev=1.0" },
	]}
	title={title}>
	<div class="flex flex-col">
		<main class="flex grow justify-center">
			<div class="flex grow self-center">
				<div class="container sm:pb-36">
					<div class="bg-white">
						<article class="article">
							<Fragment set:html={content} />
						</article>
					</div>
				</div>
			</div>
		</main>
	</div>
</Base>
