<footer class="footer flex">
	<ul class="flex shrink flex-col justify-start sm:flex-row">
		<li>
			<a
				href="https://github.com/Lightrix"
				target="_blank"
				rel="noopener noreferrer"
				class="icon flex">
				<picture>
					<source srcset="/img/vendor/github-mark-white.svg" />
					<img alt="GitHub" src="/img/vendor/github-mark-white.svg" />
				</picture>
			</a>
		</li>
	</ul>
	<slot />
</footer>

<style is:global>
	@import "@styles/components/Footer.css";
</style>
